<div class="container-fluid">
  <div class="form-box col-lg-10 mx-auto">
    <h3 class="page-title">顧客一覧</h3>
     <% @customers.each do |customer| %>
      <div class="shop-contents border-bottom">
        <%= link_to shops_customer_path(customer.id) do %>
          <div class="shop-info row">
            <div class="col-md-3">
              <label>店舗名：</label>
              <%= customer.store_name %>
            </div>
            <div class="col-md-6">
              <label>住所：</label>
              <%= customer.address %>
            </div>
            <div class="col-md-3">
              <label>電話番号：</label>
              <%= customer.phone_number %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>