<div class="container-fluid">
  <div class="form-box fade-in">
      <% if params[:shop_genre] %>
      <h3 class="page-title"><%= params[:shop_genre] %>業者一覧</h3>
    <% else %>
      <h3 class="page-title">業者一覧</h3>
    <% end %>
      <%= render 'index' %>