<div class="container">
  <h2>メッセージ一覧</h2>
  <div class="rooms">
    <% @rooms.each do |room| %>
      <%= link_to room_path(room.id) do %>
        <div class="room-box">
          <% if customer_signed_in? %>
            <%= room.shop.shop_name %>
          <% elsif shop_signed_in? %>
            <%= room.customer.store_name %>
          <% end %>
          <%#= room.messages.first.content %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>