<div class="container-xl">
  <div class="form-box col-md-8 mx-auto">
    <h3 class="page-title">メッセージ一覧</h3>
    <div class="rooms">
      <% @rooms.each do |room| %>
        <%= link_to room_path(room.id) do %>
          <div class="room-box row hover-opacity border-bottom">
            <% if customer_signed_in? %>
              <div class="col-6">
                @<%= room.shop.shop_name %>
              </div>
            <% elsif shop_signed_in? %>
              <div class="col-6">
                @<%= room.customer.store_name %>
              </div>
            <% end %>
            <div class="col-6">
              <%= room.messages.last.content.truncate(15) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>