<div>
  <div class="thanks-image">
    <div class="thanks-back"></div>
    <div class="thanks-box">
      <div class="thanks-text">
        <p>ご注文ありがとうございます</p>
      </div>
      <div class="back-btn">
        <%= link_to "買い物を続ける", items_path, class: "btn yellow-btn" %>
        <%= link_to "ホームに戻る", root_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>
