<div class="container-xl">
  <div class="form-box col-md-10 mx-auto">
    <div class="vh-100">
      <p>ご注文ありがとうございました！</p>
    </div>
    <div class="button-group text-center">
      <%= link_to "買い物を続ける", items_path, class: "btn" %>
      <%= link_to "ホームに戻る", root_path, class: "btn" %>
    </div>
  </div>
</div>
  