/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @charset "UTF-8";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @font-face{
  font-family: 'XANO-mincho';
  src: font-url('https://cdn.leafscape.be/XANO-mincho/XANO-mincho_web.woff2')
     format("woff2");
  // font-weight: normal;
  // font-style: normal;
 }

$base_color: #dcdccf5c;
$main_color: rgb(235,97,1);
// $accent_color:
$text_color: rgba(221,220,214,0.7);
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
 background-color: $base_color;
 font-family: 'XANO-mincho', monospace, serif;
 padding-top: 70px;
}
ul{
 margin: 0;
}
p{
 word-break: break-all;
 margin: 0;
}
.page-title{
 text-align: center;
 font-size: 1.5em;
}
.errors{
 text-align: center;
 color: red;
 font-weight: bold;
 font-size: 15px;
 padding: 10px;
 li{
  list-style: none;
  }
 }
 .alert{
  height: 44px;
  text-align: center;
  font-size: large;
  line-height: 22px;
 }
 .main-color{
  background-color: $main_color;
 }
 .fa-images{
  font-size: 20px;
  cursor: pointer;
  background-color: $main_color;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
 }
// ボタンcss⬇︎
 .btn{
   padding: 5px 15px;
   background-color: #fff;
   color: $main_color;
   border-radius: 20px;
   border: 1px solid $main_color;
   transition: 0.4s;
 }
 .btn:hover{
   color: #fff;
   background-color: $main_color;
 }
 .green-btn{
   background-color: #fff;
   color: #00d91c;
   border: 1px solid #00d91c;
 }
 .green-btn:hover{
   background-color: #00d91c;
   color: #fff;
 }
 .yellow-btn{
   color: #b3b300;
   border: 1px solid #b3b300;
 }
 .yellow-btn:hover{
   background-color: #b3b300;
   color: #fff;
 }
 .red-btn{
    color: #e70000;
   border: 1px solid #e70000;
 }
 .red-btn:hover{
   background-color: #e70000;
   color: #fff;
 }
 .blue-btn{
    color: #0088ff;
   border: 1px solid #0088ff;
 }
 .blue-btn:hover{
   background-color: #0088ff;
   color: #fff;
 }
// ボタンcssここまで
#page-top{
  position: fixed;
  bottom: 50px;
  right: 50px;
  .fas.fa-chevron-circle-up{
    font-size: 50px;
    color: $main_color;
    opacity: 0.5;
    transition: 0.5s;
  }
}
// header⬇︎
.navbar{
  padding: 0 5px;
  height: 100%;
}
.site-logo{
 width: 145px;
 height: 60px;
}
.logo-opacity{
  opacity: 0.6;
  transition: 0.4s;
}
.logo-opacity:hover{
  opacity: 1;
}
.row.navlists{
  align-items: center;
  padding: 0 6px;
  margin: 0;
  list-style: none;
  text-align: center;
  .js-hover{
    height: 100%;
    opacity: 0.7;
    transition: 0.5s;
    display: block;
    background-color: #fff;
    li{
      padding: 10px;
      span{
        color: $main_color;
        transition: 0.5s;
      }
      i{
        color: $main_color;
        transition: 0.5s;
      }
    }
  }
}
.header{
 background-color: white;
 min-width: 100%;
 top: 0;
 height: 68px;
 position: absolute;
 z-index: 12;
}
.header.fixed{
  position: fixed;
    z-index: 999;
    top:0;
    left:0;
    opacity: 0.9;
}
.login-user{
 color: $main_color;
}
// ハンバーガーメニュー⬇︎
@media screen and (max-width: 1024px) {
  #hm-icon{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
  .menu-trigger,
  .menu-trigger span{
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .menu-trigger{
    position: relative;
    width: 50px;
    height: 44px;
  }
  .menu-trigger span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
  }
  .menu-trigger span:nth-child(1){
    top: 0;
  }
  .menu-trigger span:nth-child(2){
    top: 20px;
  }
  .menu-trigger span:nth-child(3){
    bottom: 0;
  }
  .menu-trigger.active span:nth-child(1){
    transform: translateY(20px)rotate(-45deg);
    background-color: black;
  }
  .menu-trigger.active span:nth-child(2){
    opacity: 0;
  }
  .menu-trigger.active span:nth-child(3){
    transform: translateY(-20px)rotate(45deg);
    background-color: black;
  }
  .right-navbar{
    opacity: 0;
    position: fixed;
  }
  .right-navbar.active{
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    color: $main_color;
    width: 75%;
    min-height: 100%;
    display: block;
    z-index: 9;
    opacity: 1;
    transition: 0.5s;
  }
  .right-navbar a{
    color: $main_color;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
  }
  .navlists{
    display: block;
    opacity: 0;
  }
  .navlists.active{
    opacity: 1;
    padding: 30px;
  }
}
// ハンバーガーメニューここまで
@media screen and (min-width: 1024px) {
 #hm-icon{
  display: none;
 }
.right-navbar{
   display: flex;
 }
}
// headerここまで

// トップページ⬇︎
// モバイル用レイアウト⬇︎
@media screen and (max-width: 767px){
  .page-title{
    font-size: 1.3em;
  }
  .lg-image{
    width: 250px;
    height: 250px;
  }
  .top{
    font-family: 'Butler', sans-serif;
  }
  .top-image{
    background-image: image-url("top-mobile.jpg");
    background-position: 50%;
    height: 93vh;
    width: 100%;
    background-size: cover;
    position: relative;
    .scrolldown{
      position:absolute;
      bottom:1%;
      right:50%;
      animation: arrowmove 1s ease-in-out infinite;
      span{
        position: absolute;
        left:-20px;
        bottom:10px;
        color: #eee;
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        -ms-writing-mode: tb-rl;
          -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
      }
    }
    @keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
     }
    .scrolldown:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -6px;
      width: 1px;
      height: 20px;
      background: #eee;
      transform: skewX(-31deg);
    }
    .scrolldown:after{
      content:"";
      position: absolute;
      bottom:0;
      right:0;
      width:1px;
      height: 50px;
      background:#eee;
    }
    .top-view-box{
      position: absolute;
      padding: 20px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
      .top-view-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #fff;
        width: 100%;
        .app-title{
          font-size: 2.5em;
        }
        .app-sub-title{
          font-size: 1.5em;
        }
        .btn{
          margin: 15px;
        }
      }
    }
  }

  .sections{
    color: #5f5f5f;
  }
  .section-title{
    font-size: 2em;
    display: inline-block;
    border-bottom: 2px solid #5f5f5f;
    padding-bottom: 0.5rem;
    //font-family: 'Century';
  }
  section{
    margin: 1rem 0;
    padding: 1rem 0;
    text-align: center;
  }

  .greeting-image{
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50%;
    position: relative;
    background-image: image-url("greeting.jpg");
    margin: 30px 0;
    .greeting-image-back{
      background-color: rgba(0,0,0,0.4);
      height: 100%;
      .introduction_sec_1{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: white;
        padding: 10px 0;
        p{
          font-size: 16px;
          margin: 10px 0;
        }
      }
    }
  }

  .row.sec-2{
    margin: 30px 0;
    padding: 20px 0;
    color: $main_color;
    .image-sec-2{
      padding: 0;
    }
    .introduction-sec-2{
      text-align: center;
      padding: 0;
      background-color: white;
      border-radius: 50%;
      height: 200px;
      .text-sec-2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        p{
          font-size: 15px;
        }
        .step{
          border-bottom: 2px solid $main_color;
          display: inline-block;
          font-size: 1.5rem;
        }
        .section-sub-title{
          font-size: 1.25rem;
        }
      }
    }
  }
  .how-to-image{
    height: 100%;
    width: 100%;
  }
  .introduction-sec-3{
    margin: 20px 0;
    font-size: 25px;
    font-family: 'XANO-mincho', monospace, serif;
  }
  .sec-3{
    width: 80%;
    margin: 10px auto;
    .function-wrapper{
      width: 100%;
      margin: 0 5px;
      padding: 10px;
      .function-box{
        color: #eee;
        .function-title{
          padding-bottom: 5px;
          color: black;
          border-bottom: 2px solid black;
          display: inline-block;
          font-size: 1.5rem;
        }
        .function-image{
          background-size: cover;
          background-position: 50%;
          margin: 20px auto;
          width: 100%;
          height: 350px;
          position: relative;
          .function-image-back{
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6);
          }
          .function-introduction{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 90%;
          }
        }
        .function-image.search{
          background-image: image-url("search.jpg");
        }
        .function-image.dm{
          background-image: image-url("letter.jpg");
        }
        .function-image.review{
          background-image: image-url("review.jpg");
        }
      }
    }
  }
  .end-btn{
    margin-top: 20px;
  }
  .btn.end-btn{
    padding: 0 30px;
    font-size: 25px;
  }
}
// モバイル用レイアウトここまで

// パソコン、タブレット用レイアウト⬇︎
@media screen and (min-width: 767px){
  .top{
    background-color: $base_color;
  }
  .lg-image{
    width: 300px;
    height: 300px;
  }
  .top-image{
    background-image: image-url("top2.jpg");
    background-position: 50%;
    height: 93vh;
    width: 100%;
    background-size: cover;
    position: relative;
    .scrolldown{
      position:absolute;
      bottom:1%;
      right:50%;
      animation: arrowmove 1s ease-in-out infinite;
      span{
        position: absolute;
        left:-25px;
        bottom:10px;
        color: #eee;
        font-size: 0.9rem;
        letter-spacing: 0.05em;
        -ms-writing-mode: tb-rl;
          -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
      }
    }
    @keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
     }
    .scrolldown:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -6px;
      width: 2px;
      height: 20px;
      background: #eee;
      transform: skewX(-31deg);
    }
    .scrolldown:after{
      content:"";
      position: absolute;
      bottom:0;
      right:0;
      width:2px;
      height: 50px;
      background:#eee;
    }
    .top-view-box{
      position: absolute;
      padding: 20px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      background-color: rgba(148,148,148,0.4);
      .top-view-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #fff;
        width: 100%;
        P{
          font-family: monospace;
        }
        .app-title{
          font-size: 6em;
          font-family: 'Butler', sans-serif;

        }
        .app-sub-title{
          font-size: 2em;
        }
        .btn{
          margin: 20px;
        }
      }
    }
  }
  .sections{
    color: #5f5f5f;
  }
  .section-title{
    font-size: 3em;
    display: inline-block;
    border-bottom: 2px solid #5f5f5f;
    padding-bottom: 1rem;
    font-family: 'Butler', sans-serif;


  }
  section{
    margin: 2rem 0;
    padding: 2rem 0;
    text-align: center;
  }

  .greeting-image{
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: 50%;
    position: relative;
    background-image: image-url("greeting.jpg");
    margin: 30px 0;
    .greeting-image-back{
      background-color: rgba(0,0,0,0.4);
      height: 100%;
      .introduction_sec_1{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: white;
        padding: 10px 0;
        p{
          font-size: 1.5em;
          margin: 10px 0;
        }
      }
    }
  }
  .shop-top-image.top-image{
    background-image: image-url("shop_top.jpg");
  }
  .how-to-guide{
    font-family: 'XANO-mincho', monospace ,serif;
  }
  .row.sec-2{
    margin: 40px 0;
    padding: 30px 0;
    color: $main_color;
    .image-sec-2{
      padding: 0;
    }
    .introduction-sec-2{
      text-align: center;
      padding: 0;
      background-color: white;
      border-radius: 50%;
      .text-sec-2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        p{
          font-size: 18px;
        }
        .step{
          border-bottom: 2px solid $main_color;
          display: inline-block;
        }
      }
    }
  }
  .how-to-image{
    height: 100%;
    width: 100%;
  }
  .introduction-sec-3{
    margin: 20px 0;
    font-size: 25px;
  }
  .sec-3{
    width: 80%;
    display: flex;
    margin: 10px auto;
    .function-wrapper{
      width: 33%;
      margin: 0 5px;
      padding: 10px;
      .function-box{
        color: #eee;
        .function-title{
          padding-bottom: 5px;
          color: black;
          border-bottom: 2px solid black;
          display: inline-block;
          font-size: 1.5rem;
        }
        .function-image{
          background-size: cover;
          background-position: 50%;
          margin: 20px auto;
          width: 100%;
          height: 350px;
          position: relative;
          .function-image-back{
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6);
          }
          .function-introduction{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 90%;
          }
        }
        .function-image.search{
          background-image: image-url("search.jpg");
        }
        .function-image.dm{
          background-image: image-url("letter.jpg");
        }
        .function-image.review{
          background-image: image-url("review.jpg");
        }
      }
    }
  }
  .end-btn{
    margin-top: 20px;
  }
  .btn.end-btn{
    width: 35%;
    padding: 5px 10px;
    font-size: 30px;
  }

// アニメーション⬇︎
  .fade-in{
  animation-name:fadeInAnime;
  animation-duration: 0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }

  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
    to {
    opacity: 1;
    }
  }
  .delay-time05s{
    animation-delay: 0.5s;
  }
  .delay-time1s{
    animation-delay: 1s;
  }
  .delay-time15s{
    animation-delay: 1.5s;
  }
  .delay-time2s{
  animation-delay: 2s;
  }
  .eachTextAnime span{
    opacity: 0;
  }
  .eachTextAnime.appeartext span{
    animation:text_anime_on 1s ease-out forwards;
  }
  @keyframes text_anime_on {
  	0% {opacity:0;}
  	100% {opacity:1;}
  }
  .fadeUp{
    animation-name:fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    opacity:0;
  }
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fadeUpTrigger{
    opacity: 0;
  }

}
// パソコン、タブレット用レイアウトここまで
// topページここまで


// ログイン 新規登録⬇︎
.form-box{
 background-color: #fff;
 box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
 padding: 20px;
 margin-top: 20px;
}
.nav{
 font-size: 20px;
 margin: 15px 0;
}

.shop-link{
 margin-bottom: 20px;
}
// ログイン　新規登録ここまで

// マイページ⬇︎
.search-box{
 p{
  margin: 10px 0;
  font-size: 18px;
 }
}
.info-group{
 margin: 10px 0;
 padding: 10px 0;
}
.info-group.introduction{
  padding: 0 15px;
}
label{
 font-weight: bold;
 font-size: 18px;
}
// マイページここまで
// indexページ⬇︎
.sm-image{
 width: 100px;
 height: 100px;
}
.shop-contents{
 padding: 10px;
 margin-bottom: 20px;
 border-right: 1px solid $main_color;
 transition: 0.6s;
}
.shop-info{
 color: gray;
 transition: 1s;
}
.hover-opacity:hover{
 color: black;
 background-color: #e0e0e0;
 opacity: 0.7;
 transition: 0.5s;
}
.cart-item{
 background-color: $base_color;
 margin: 10px 0;
 }
 .cart-item-boxs{
  margin: 0;
  padding: 20px 0;
 }
 .buttons{
   p{
     margin: 10px 0;
   }
 }
 .postage-info{
   color: red;
 }
 .prices{
  font-size: large;
 }
 .order-item{
  background-color: $base_color;
 }
 .order-shop{
  margin-bottom: 20px;
 }
 .order-item-info{
  position: relative;
  span{
   position: absolute;
   bottom: 5px;
   right: 5px;
  }
 }
 .room-box{
  padding: 20px 0;
  margin-bottom: 10px;
 }
 .sold-out{
   width: 96%;
   height: 100%;
   line-height: 100px;
   background-color: rgba(0,0,0,0.8);
   color: #f3f3f3;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 11;
   text-align: center;
   transition: 0.5s;
 }
 .sold-out-box{padding: 10px;
   margin-bottom: 20px;
 }
 .sold-out:hover{
   opacity: 0.5;
 }
// indexページここまで
// showページ⬇︎
.item-form{
 margin: 20px 0;
  label{
    margin: 0;
  }
}
.button-group{
  margin: 20px 0;
  p{
  margin: 20px 0;
  }
}
.item-link{
 cursor: pointer;
 color: black;
}

 .review-group{
   padding: 20px 0;
 }
.order-box{
 border: 1px solid $main_color;
 padding: 20px;
}
.vh-100{
  height: 100vh;
  position: relative;
  p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 2em;
    width: 100%;
  }
}
.sold-out-message{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: red;
  font-size: 1.5em;
  width: 100%;
}
.back-btn{
  margin-top: 30px;
  bottom: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  .btn{
    padding: 7px 60px;
  }
}
.delivery-status-pulldown{
  width: 60%;
}
.no-review{
  margin-top: 20px;
  text-align: center;
  font-size: 1.4em;
}
// showページここまで

// モダールウインドウ⬇︎
.modal{
 display: none;
 height: 100vh;
 position: fixed;
 top: 0;
 width: 100%;
}
.modal-bg{
 background: rgba(0,0,0,0.8);
 height: 100vh;
 position: absolute;
 width: 100%;
}
.modal-content{
 background: #fff;
 left: 50%;
 padding: 20px;
 position: absolute;
 top: 50%;
 transform: translate(-50%,-50%);
 width: 60%;
 .close-btn{
   text-align: center;
   a{
     width: 50%;
   }
 }
 .content-area{
   margin: 10px 0;
 }
}
.review-btn{
  margin: 10px 0;
  text-align: right;
  .btn{
    padding: 0 30px;
  }
}
@media screen and (max-width: 500px) {
  #star{
    img{
      width: 15px;
      height: 15px;
    }
  }
}
// モダールウインドウここまで
// 吹き出し用⬇︎
@media screen and (min-width: 767px){
  .datetime{
  font-size: 15px;
  }
  .right-message {
     position: relative;
     display: inline-block;
     min-width: 200px;
     max-width: 50%;
     text-align: center;
     color:#FFF;
     padding: 25px;
     background-color: $main_color;
     border-radius: 5px;
     font-size: 17px;

}
  .right-message:before {
       content: '';
       position: absolute;
       display: block;
       z-index: 1;
       border-style: solid;
       border-color: transparent $main_color;
       border-width: 10px 0 10px 10px;
       top: 50%;
       right: -10px;
       margin-top: -10px;
  }
  .left-message {
       position: relative;
       display: inline-block;
       min-width: 200px;
       max-width: 50%;
       text-align: center;
       color: #fff;
       padding: 25px;
       background-color: darkgray;
       border-radius: 5px;
       font-size: 17px;
  }
  .left-message:before {
     content: '';
     position: absolute;
     display: block;
     z-index: 1;
     border-style: solid;
     border-color: transparent darkgray;
     border-width: 10px 10px 10px 0;
     top: 50%;
     left: -10px;
     margin-top: -10px;
}
}
@media screen and (max-width: 767px){

  .datetime{
    font-size: 13px;
  }
  .right-message {
    position: relative;
    display: inline-block;
    min-width: 150px;
    max-width: 80%;
    text-align: center;
    color:#FFF;
    padding: 10px;
    background-color: $main_color;
    border-radius: 5px;
    font-size: 15px;
  }
  .right-message:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    border-style: solid;
    border-color: transparent $main_color;
    border-width: 10px 0 10px 10px;
    top: 50%;
    right: -10px;
    margin-top: -10px;
  }
  .left-message {
    position: relative;
    display: inline-block;
    min-width: 150px;
    max-width: 80%;
    text-align: center;
    color: #fff;
    padding: 10px;
    background-color: darkgray;
    border-radius: 5px;
    font-size: 15px;
  }
  .left-message:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    border-style: solid;
    border-color: transparent darkgray;
    border-width: 10px 10px 10px 0;
    top: 50%;
    left: -10px;
    margin-top: -10px;
  }
}
// 吹き出しここまで