<div class="container-fluid">
  <div class="form-box fade-in">
    <% if params[:item_genre] %>
      <h3 class="page-title"><%= params[:item_genre] %>一覧</h3>
    <% else %>
      <h3 class="page-title">商品一覧</h3>
    <% end %>
    <%= render 'index' %>